:root{
    font-size: 20px;
}

html{
    background: rgb(194, 194, 194);
}

header {
    background-color: #C2D9FE;
    border:2px solid black;
}

body{
    font-family: Tahoma, Arial, sans-serif;
    max-width:85ch;
    margin: 0 auto;
    width: 90%;
}

h1, h2, h3, header, footer, section, header p{
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
}

h1, h2, h3, header p{
    padding: 1ch;
}

input{
    margin: .5ch auto;
    max-width: 24ch;
}

section{
    background-color: #C2D9FE;
    max-width: fit-content;
    margin: 0 auto;
    padding: 1ch 2ch;
    border:2px solid black;
}

section figure {
    display: inline-block;
    margin: 0.5ch;
    text-align: center;
    vertical-align: top;
}

section img {
    width: 250px;
    display: block;
}

.highlight {
    background-color: yellow;
}

#sessionMessage, #messageSpaceSaver {
    text-align: center;
    max-width: fit-content;
    margin: 1ch auto;
    padding: .5ch 1ch;
    border:1px solid black;
    border-radius: 5px;
}

#sessionMessage {
    background-color: yellow;
}

#messageSpaceSaver{
    background-color:#C2D9FE;
}


#Grid {
border:2px solid black;
border-radius: 5px;
table-layout: auto;
width:100%;
border-collapse:collapse;
margin-bottom: 5ch;
}
#Grid td, #Grid th 
{
font-size:1em;
border:1px solid black;
padding:.4ch;
}

tr td:last-child{
    text-align: center;
    width: 21ch;
}

tr td:nth-last-of-type(2){
    text-align: right;
    width: 12ch;
}

#Grid th 
{
font-size:1.1em;
text-align:center;
padding: .5ch;
background-color:#C2D9FE;

}
#Grid tr.odd td 
{
background-color: #ffffff99;
}

#Grid tr.even td
{
color:#000000;
background-color: #ffffff;
}
#Grid head 
{
color:#000000;
background-color:teal;
}
