<nav>
    <a href="index.html"><img src="./images/clover2.png" alt="Three leaf clover"></a>
    <ul class="page-links">
        <h3 class="sidebar-headings">Pages</h3>
        <li><a href="index.html">Home</a></li>
        <li><a href="contract.html">Contract</a></li>
        <li><a href="introduction.html">Introduction</a></li>
        <li><a href="./php/">PHP Website</a></li>
    </ul>
    <ul class="social-links">
        <h3 class="sidebar-headings">External links</h3>
        <li><a href="https://github.com/jcalhou9">GitHub</a></li>
        <li><a href="https://jcalhou9.github.io/">GitHub.io</a></li>
        <li><a href="https://jcalhou9.github.io/web115/">WEB115</a></li>
        <li><a href="https://jcalhou9.github.io/web215/">WEB215</a></li>
        <li><a href="https://jcalhou9.github.io/web250/">WEB250</a></li>
        <li><a href="https://www.freecodecamp.org/jcalhou9">freeCodeCamp</a></li>
        <li><a href="https://www.codecademy.com/profiles/jcalhou9">Codecademy</a></li>
        <li><a href="https://jsfiddle.net/u/jcalhou9/fiddles/">JSFiddle</a></li>
        <li><a href="https://www.linkedin.com/in/jeremy-calhoun-3aab016a/">Linkedin</a></li>
    </ul>
</nav>